[project]
	description = The Clay programming language
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/agemogolk
[access "refs/for/refs/*"]
	read = group user/agemogolk
	push = group user/agemogolk
	label-Code-Review = -2..+2 group user/agemogolk
	label-Verified = -1..+1 group user/agemogolk
	rebase = group user/agemogolk
	removeReviewer = group user/agemogolk
	submit = group user/agemogolk
[access "refs/heads/*"]
	read = group user/agemogolk
	create = group user/agemogolk
	push = +force group user/agemogolk
	pushMerge = group user/agemogolk
[access "refs/tags/*"]
	push = +force group user/agemogolk
	pushTag = group user/agemogolk
	pushSignedTag = group user/agemogolk
